*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #949595;
    font-family: sans-serif;
}
.collection{
    width: 80% auto;
    border: radius 4px; ;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fix, minmax(300px, 1fr));
    grid-gap: 30px;
    padding: 20px;

}
.collect-img{
    width: 100%;
    cursor: pointer;
}
.collect-img{
    width:300px;
    transform: scale(0.8)rotate(-15%) ;
    border-radius: 20px ;
    box-shadow: 0 75px rgba(68, 77, 136, 0.2) ;
}
@media screen and (max-width: 768px){
    .collection{
display:flex;
flex-direction:column;
    }
    
}




































